{#
/**
 * @file
 * Section component.
 *
 * Available variables:
 * - attributes: raw.
 * - modifier_class: string.
 * - container_style: boolean.
 * - content: raw.
 */
#}

{% if kss_styles %}
  <style>
    #kssref-components-section .section {
      margin-left: 0;
      margin-right: 0;
    }
  </style>
{% else %}
  {{ attach_library('kickstart/animate') }}
{% endif %}

{% spaceless %}
  <div data-animated="fadeIn" class="animated section {{ modifier_class }}"{{ attributes }}>
    <div class="section__inner">
      {% if container_style %}
        <div class="container">
          {{ content }}
        </div>
      {% else %}
        {{ content }}
      {% endif %}
    </div>
  </div>
{% endspaceless %}
